body{
    font-family: 'Reggae One', cursive, sans-serif;
    background-color: #161B33; 
    color: red; 
    margin: 0;
    text-align: center;
}

header{
    text-align: center;
}

#title {
    font-size: 4rem; 
    font-weight: 300;
}

header p {
    font-size: 2.5rem; 
}

.score-container{
    display: flex; 
    flex-direction: column;
    width: 75%; 
    margin-left: 12.5%;  
    font-size: 2rem;
}

.score-labels, .scores-container{
    display: flex; 
    justify-content: space-between;  
    height: 30%; 
}

.game-results {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 5px;
}

.result{
    display: flex; 
    flex-direction: column;
    width: 100%; 
    font-size: 2rem;
}

.score{
    background-color: #0D0C1D; 
    padding: 30px; 
    margin-right: 2%; 
} 

.result{
    margin-right: 2%; 
} 

h2{
    font-size: 3rem; 
}

.game-container {
    width: 75%; 
    margin-left: 12.5%; 
}

.btn-container{
    width: 50%; 
    margin-left: 25%;
    display:flex; 
    justify-content: space-between;
}

.btn-container img{
    width: 60%; 
}

.btn-container img:hover{
    width: 70%; 
    cursor: pointer;
}
